*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.menubar{
    height: 690px;
    width: 70px;
    background-color: black;
}
.menubar  div{
    text-align: center;
    padding: 25px;
}
.menubar div img{
    width: 25px;
    height: 28px;
}
.menubar ul{
    color: white;
    font-size: 10px;
    font-family: Open Sans,sans-serif!important;
    text-align: center;
}
.menubar ul li {
    list-style: none; 
    padding-top: 28px;
}
.menubar ul li :link{
    text-decoration: none;
   
}
.img img{
    width: 20px;
    height: 20px;
}