<div>
  <div class="navbar">
      <div class="img"><img src="https://clearmydues.com/ethera/assets/images/icons/rectangle.png"></div>
      <ul class="img">
          <li><a class="nav-link" routerLink="/home">
              <img src="https://clearmydues.com/ethera/assets/images/icons/home_menu.png"><br>Home</a>
          </li>
          <li><a class="nav-link active" routerLink="/collection">
              <img src="https://clearmydues.com/ethera/assets/images/icons/collections.png"><br>Collection</a>
          </li>
          <li><a class="nav-link" routerLink="/recovery">
              <img src="https://clearmydues.com/ethera/assets/images/icons/recovery.png"><br>Recovery</a>
          </li>
          <li><a class="nav-link" routerLink="/campaign">
              <img src="https://clearmydues.com/ethera/assets/images/icons/marketing.png"><br>Campaign</a>
          </li>
          <li><a class="nav-link" routerLink="/product">
              <img src="https://clearmydues.com/ethera/assets/images/icons/product.png"><br>Product</a>
          </li>
          <li><a class="nav-link" routerLink="/queries">
              <img src="https://clearmydues.com/ethera/assets/images/icons/queries.png"><br>Queries</a>
          </li>
          <li><a class="nav-link" routerLink="/user">
              <img src="https://clearmydues.com/ethera/assets/images/icons/userManager.png"> <br>User Manager</a>
          </li>
      </ul>
  </div>
</div>
<div class="page-wrapper">
  <router-outlet></router-outlet>
</div>

