<div class="body">

    <div class="mainblock">
        <p class="mainheading">Just a few simple steps before we know it's you</p>
        <div class="mainblock-btn">
            <button class="btn" type="button" [ngClass]="{ color: selectedBlock >= '1' }"
                (click)="set(Step1)">1</button>
            <button class="btn" type="button" [ngClass]="{ color: selectedBlock >= '2' }"
                (click)="set(Step2)">2</button>
            <button class="btn" type="button" [ngClass]="{ color: selectedBlock >= '3' }"
                (click)="set(Step3)">3</button>
            <button class="btn" type="button" [ngClass]="{ color: selectedBlock >= '4' }"
                (click)="set(Step4)">4</button>
            <div class="joiner"></div>
        </div>
        <div class="step">
            <div *ngIf="selectedBlock == Step1">
                <p class="step-subhead">Your registered mobile number</p>
                <form>
                    <div class="phonenumber">
                        <input type="text" placeholder="9876543210">
                    </div>
                    <button class="login-btn" (click)="set(Step2)">Login &#10132;</button>
                </form>
            </div>
        </div>
        <div class="step" *ngIf="selectedBlock == Step2">
            <p class="step-subhead">Kindly verify the pin code of your residential address</p>
            <form class="pincode">
                <div>
                    <input type="button" value="601302" (click)="set(Step3)">
                </div>
                <div>
                    <input type="button" value="208916" (click)="set(Step3)">
                </div>
                <div>
                    <input type="button" value="112345" (click)="set(Step3)">
                </div>
                <div>
                    <input type="button" value="602716" (click)="set(Step3)">
                </div>
            </form>
        </div>
        <div class="step" *ngIf="selectedBlock == Step3">
            <p class="step-subhead">Kindly verify your year of birth</p>
            <form class="dob">
                <div>
                    <input type="button" value="1986" (click)="set(Step4)">
                </div>
                <div>
                    <input type="button" value="1987" (click)="set(Step4)">
                </div>
                <div>
                    <input type="button" value="1985" (click)="set(Step4)">
                </div>
                <div>
                    <input type="button" value="1992" (click)="set(Step4)">
                </div>
            </form>
        </div>
        <div class="step" *ngIf="selectedBlock == Step4">
            <div>
                <p class="step-subhead">Enter the OTP</p>
                <form>
                    <div class="otp">
                        <input type="text" id="ist" maxlength="1" onkeyup="clickEvent(this,'sec')">&nbsp;
                        <input type="text" id="sec" maxlength="1" onkeyup="clickEvent(this,'third')">&nbsp;
                        <input type="text" id="third" maxlength="1" onkeyup="clickEvent(this,'fourth')">&nbsp;
                        <input type="text" id="fourth" maxlength="1">&nbsp;
                    </div>
                    <button class="login-btn">Login &#10132;</button>
                </form>
            </div>
        </div>
    </div>

</div>