<div class="page-wrapper">
    <div class="upperpart"></div>
    <div class="lowerpart">
        <div class="container">
            <p>Portfolio Overview</p>
            <div class="parentportfoliooption">
                <div class="child-first">
                    <div class="profile-rupee">
                        <div class="user">
                            <button (click)="changeState()"><img [@changeDivSize]=currentState1
                                    src="../assets/imageOfPerson.png"></button>
                        </div>
                        <div class="separator"></div>
                        <div class="rupee">
                            <button (click)="changeState()" [@changeDivSize]=currentState2>&#8377;</button>
                        </div>
                    </div>
                    <div class="amount-account">hghgh</div>
                </div>
                <div class="child-second">
                    <div class="option-one">
                        <select>
                            <option value="1">March' 21</option>
                            <option value="2">April' 21</option>
                            <option value="3">May' 21</option>
                        </select>
                    </div>
                    <div class="option-two">
                        <select>
                            <option value="1">Live</option>
                            <option value="2">Pre-NPA</option>
                            <option value="3">NPA</option>
                        </select>
                    </div>
                    <div class="option-three">
                        <select>
                            <option value="1">Credit Card</option>
                            <option value="2">Loan</option>
                        </select>
                    </div>
                    <div class="option-four"><button><img src="https://clearmydues.com/ethera/assets/images/icons/export.svg"> Export Master Report</button></div>
                </div>
            </div>
        </div>
    </div>
</div>